<head>

</head>

<body>
    <script src = "interaction.js"></script>

        <form action = "/Backend/main.py/find_game" method = "POST">
            <input type = "text" id = "game_name">
            <button type = "button" id = searchBar> Search</button>
        </form>   
    
    <ul name = "games">
        {% for game in result %}
            <li> Link: {{ game["link"] }}</li>
            <li>Name: {{ game["name"] }}</li>
            <li>Price: {{ game["price"] }}</li>
        {% endfor %}
        
    </ul>
</body>